:root {
	--primary-color: #bb86fc;
	--secondary-color: #03dac6;
	--background-color: #121212;
	--surface-color: #1e1e1e;
	--error-color: #cf6679;
	--on-background: #e1e1e1;
	--on-surface: #a9a9a9;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--background-color);
	color: var(--on-background);
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1,
h2,
h3 {
	color: var(--primary-color);
}

button {
	background-color: var(--primary-color);
	color: var(--background-color);
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 4px;
}

button:hover {
	background-color: #9965f4;
}

input,
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid var(--on-surface);
	border-radius: 4px;
	background-color: var(--surface-color);
	color: var(--on-background);
}

input:focus,
textarea:focus {
	outline: none;
	border-color: var(--primary-color);
}
